.header-gradient {
    background: linear-gradient(to right, #1e40af, #2563eb);
}

.input-style {
    border: 1px solid #d1d5db;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.input-style:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}


.btn-primary {
    background-color: #2563eb;
    color: white;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #1e40af;
}

.card-blue {
    background: linear-gradient(to right, #3b82f6, #60a5fa);
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.card-green {
    background: linear-gradient(to right, #16a34a, #4ade80);
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.card-orange {
    background: linear-gradient(to right, #ea580c, #fb923c);
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.card-blue p,
.card-green p,
.card-orange p {
    font-size: 28px;
    font-weight: bold;
}